.circular-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circular-progress {
  transform: rotate(-90deg);
}

.circular-progress-bg {
  fill: none;
  stroke: #ddd;
  stroke-width: 5; 
}

.circular-progress-bar {
  fill: none;
  stroke: #ff5e57;
  stroke-width: 5;
  stroke-linecap: round;
}

.circular-progress-bar.animate {
  transition: stroke-dashoffset 3s ease-in-out;
}

.percentage {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff5e57;
  transition: color 0.5s;
}

.label {
  font-size: 1.25em;
  color: #333;
  font-weight: 800;
  margin-top: 5px;
  font-family: "Montserrat", serif;
}
