@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;500;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.action-section {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.background-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(0.5);
}

.action-section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
}

.second-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* margin-bottom: 40px; */
  flex-wrap: wrap;
  padding: 2rem;
  box-sizing: border-box;
  background-color: white;
}

.text-part,
.image-part {
  flex: 1 1 50%;
  padding: 15px;
  box-sizing: border-box;
}

.text-part p {
  color: black;
}

.text-part {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 600px;
}

.buy-now-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ff5349;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  max-width: 100px;
  text-align: center;
  font-weight: bold;
}

.buy-now-button:hover {
  background-color: #e63228;
  color: white;
}

.image-part {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.second-section img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
}

.action-container {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.action-container h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  background-color: transparent;
  border: 2px solid #ff5349;
  color: #ff5349;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 1rem;
}

.tab-btn:hover {
  background-color: #ff5349;
  color: white;
}

.tab-btn.active {
  background-color: #ff5349;
  color: white;
  border: 2px solid #ff5349;
}

.donation-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.donation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: gray;
  padding: 15px 0;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: bold;
}

.donation-btn.active,
.donation-btn:hover {
  background-color: #ff5349;
  color: white;
}

.cover-fees {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: right;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cover-fees input {
  margin-right: 5px;
}

.amount-input {
  width: 100%;
  max-width: 780px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

.donate_button {
  margin-top: 15px;
  width: 100%;
  max-width: 400px;
  padding: 12px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto;
  margin-right: auto;
}

.donate_button.active {
  background-color: #ff5349;
}

.donate_button:disabled {
  cursor: not-allowed;
}

.donate-in-kind-section {
  text-align: center;
  background-color: white;
  margin-top: 1rem;
  padding: 3rem;
}

.donate-in-kind-section h1 {
  font-size: 2rem;
  font-weight: 100;
}

.donate-in-kind {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.donation-card {
  background-color: #f9f9f9;
  border: 1px solid #ff5349;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 1rem;
}

.donation-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.donation-card h3 {
  margin: 15px 0 10px;
  font-size: 1.25rem;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  margin-right: 10px;
}

.donation-card p {
  flex: 1;
  margin: 0 10px;
  font-size: 1rem;
  color: #555;
}

.circular-progress-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  clip-path: circle(50%);
}

.filled-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #ff5349 calc(var(--percentage) * 1deg),
    #e0e0e0 calc(var(--percentage) * 1deg)
  );
}

.inner-circle {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.donate-kind-btn {
  width: 100%;
  padding: 15px 0;
  margin-top: 1rem;
  background-color: #ff5349;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.donate-kind-btn:hover {
  background-color: #e63228;
  color: white;
}

.noMoney-section {
  justify-content: center;
  text-align: center;
  margin-top: 2.5rem;
}

.full-width-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
  margin: 2rem;
  text-align: justify;
}

.full-width-section p {
  color: black;
}

.column-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: gray;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.column-button:hover {
  background-color: #ff5349;
  color: white;
}

.large-section {
  background-color: #e0e0e0;
  padding: 25px;
  margin-top: 30px;
  text-align: center;
}

.large-section h2 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.large-section p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: black;
}

.btn-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ff5349;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 0.9rem;
}

.btn-link:hover {
  background-color: #c1241b;
  color: white;
}

@media (max-width: 768px) {
  .second-section {
    flex-direction: column;
    gap: 10px;
  }

  .text-part,
  .image-part {
    max-width: 100%;
    padding: 10px;
  }

  .text-part {
    text-align: center;
  }

  .columns-section {
    flex-direction: column;
    gap: 20px;
  }

  .member-buttons {
    flex-direction: column;
  }

  .action-btn {
    width: 100%;
  }

  .donation-buttons {
    grid-template-columns: 1fr 1fr;
    margin: 0 5px;
  }

  .donation-btn {
    width: 100%;
  }

  .donate-in-kind {
    display: flex;
    flex-direction: column;
  }

  .full-width-column {
    max-width: 100%;
    padding: 1.5rem;
  }

  .full-width-column h2 {
    font-size: 1.5rem;
  }

  .full-width-column p {
    font-size: 0.95rem;
  }

  .large-section {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .background-image {
    height: 200px;
  }

  .action-section h1 {
    font-size: 45px;
    width: 100%;
  }

  .text-part h2 {
    font-size: 1.4rem;
  }

  .large-section h2 {
    font-size: 1.5rem;
  }

  .btn-link,
  .buy-now-button {
    width: 80%;
    text-align: center;
  }

  .amount-input {
    font-size: 0.9rem;
    width: 90vw;
  }
  .cover-fees {
    justify-content: flex-start;
    padding: 0 1rem;
  }

  .progress-container {
    margin: 0 5px;
  }
  .donate_button {
    font-size: 1rem;
  }

  .tab-buttons {
    transform: scale(0.9);
  }
}
