form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* div {
    margin-bottom: 15px;
} */

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
    border-color:#96b85c;
    outline: none;
}

button {
    background-color: #7f7f7f;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff5349;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"],
    select {
        padding: 8px;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }
}