@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

.blog_post_container {
  width: 100vw;
  height: auto;
  text-align: start;
  color: white;
  padding: 0 4rem;
  background-color: #535353;
}

.blog_post_container h1 {
  margin-bottom: 3rem;
  font-family: "Playfair Display", sans-serif;
  font-size: 38px;
}

.blog_description_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.blog_description_container p {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.blog_image img {
  width: 55vw;
  height: auto;
  padding: 0 2rem;
}

.blog_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 2rem;
}

.blog_gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .blog_post_container-menu {
    display: flex;
    flex-direction: column;
  }

  .blog_description_container {
    display: flex;
    flex-direction: column-reverse;
    text-align: justify;
  }

  .blog_image img {
    width: 100vw;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .blog_post_container {
    width: 100vw;
    padding: 0px;
  }

  .blog_post_container h1 {
    font-size: 20px;
    margin-top: 0px;
    box-sizing: border-box;
    padding-top: 6rem;
  }

  .blog_image img {
    padding: 0px;
  }

  .blog_description_container p {
    width: 100%;
    font-size: 13px;
    box-sizing: border-box;
    padding: 1em;
  }
}
